
.pageContent {
  padding: 40px 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  color: var(--background);
  background-color: var(--tertiary-red);
} /* Styling for other pages  */

.pageContent a {
  font-size: clamp(1rem, 1.333rem + 5.333vw, 3rem);
  line-height: 1.5;
}

.pageContent h2 {
  font-size: clamp(2rem, 1.333rem + 5.333vw, 6rem);
  line-height: 1.5;
}
.pageContent h3 {
  font-size: clamp(1rem, 1.333rem + 5.333vw, 3rem);
  line-height: 1.5;
}
.pageContent span {
  font-size: clamp(1rem, 0.667rem + 2.667vw, 3rem);
  line-height: 1.375;
}
