:root {
  --background: #ccc3cf;
  --foreground: #141310;
  --primary: #f6b728;
  --primary-dark: #fc723a;
  --secondary: #aed3e8;
  --secondary-dark: #413172;
  --tertiary-red: #ba0810;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141310;
    --foreground: #ccc3cf;
    --primary: #f6b728;
    --primary-dark: #fc723a;
    --secondary: #aed3e8;
    --secondary-dark: #413172;
    --tertiary-red: #ba0810;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  background: var(--primary);
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
