:root {
  --background: #ccc3cf;
  --background-transparent: #ccc3cfcc;
  --foreground: #141310;
  --primary: #f6b728;
  --primary-transparent: #f6b728DE;
  --primary-dark: #fc723a;
  --secondary: #fff;
  --secondary-dark: #413172;
  --tertiary-red: #ba0810;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141310;
    --background-transparent: #141310cc;
    --foreground: #ccc3cf;
    --primary: #f6b728;
    --primary-transparent: #f6b728DE;
    --primary-dark: #fc723a;
    --secondary: #fff; /* override for darkmode */
    --secondary-dark: #413172;
    --tertiary-red: #ba0810;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  background: var(--primary);
  width: 100%;
  height: 100%;
}

span {
  display: flex;
  justify-content: center;
}

span svg {
  font-size: clamp(2rem, -1.75rem + 17.143vi, 2.75rem);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
