.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #141310;
  --button-secondary-hover: #ccc3cf;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 100svh;
  width: 100%;
  padding: 80px;
  padding-bottom: 8px;
  font-family: var(--font-geist-sans);
  color: var(--foreground);
  background-color: var(--background);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc3cf;
    --button-secondary-hover: #141310;
    color: var(--foreground);
  }
}

.ctas {
  padding: 8px 0 8px 0;
  display: flex;
  font-size: xx-large;
  font-weight: 800;
  color: var(--secondary-dark);
  justify-content: space-evenly;
  background: var(--secondary);
  border-radius: 16px 16px 0 0;
}

.ctas a {
  padding: 12px 16px;
  transition: all 0.2s ease;
  border-radius: 4px;
}

.ctas a:hover {
  background-color: var(--secondary-dark);
  color: var(--secondary);
  transform: translateY(-2px);
}

.main {
  border-radius: 16px;
}

.homeContent {
  padding: 40px 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  color: var(--secondary-dark);
}

.homeContent section {
  display: flex;
}

.homeContent strong {
  font-size: 20rem;
  line-height: 60%;
}

.pageContent {
  padding: 40px 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--secondary-dark);
}

.footer {
  padding-top: 36px;
  justify-items: end;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  gap: 16px;
  width: clamp(60%, calc(100% - ((100vw - 900px) * 0.6)), 100%);
}

.footer p {
  text-align: center;
  justify-self: center;
}

.footer aside {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 16px;
  border-radius: 16px;
  background-color: var(--tertiary-red);
}

.footer aside div {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.footer div h1 {
  font-size: 1.5rem;
}

.footer div h3 {
  font-size: 1.17rem;
}

.footer div strong {
  font-size: 1rem;
}

.footer aside img {
  width: 128px;
  height: 128px;
  border-radius: 16px;
  margin-right: 4px;
}


@media (max-width: 800px) {
  .page {
    padding: 32px;
    padding-bottom: 8px;
  }

  .main {
    align-items: center;
  }

  .ctas {
    flex-direction: row;
    font-size: large;
  }

  .footer {
    padding-top: 16px;
    gap: 16px;
  }

  .footer div h1 {
    font-size: 1.5rem;
  }

  .footer div h3 {
    font-size: 1.17rem;
  }

  .footer div strong {
    font-size: 1rem;
  }

  .footer aside img {
    width: 96px;
    height: 96px;
    margin-right: 8px;
  }
}